@font-face {
  font-family: playball;
  src: url('../fonts/Playball-Regular.ttf');
}

#wrap{
	border: solid 0px black;
	width: 100vw;
	min-height : 100vh;
	margin : 0 auto;
}

body{
	background: rgb(242, 233, 228);
}

#topbar{
	border: solid 0px red;
	height: 80px;
	display: flex;
}

#name{
	border: solid 0px green;
	flex-grow: 1;
	margin: 20px 100px 20px 20px;
	width: 10%;
	position: relative;
	display: flex;
	justify-content: left;
	align-items: center;
	font-family: playball;
	font-size: 40px;
	color: rgb(74, 78, 105);
}

#name a{
	text-decoration: none;
	color: rgb(74, 78, 105);
}

nav{
	border: solid 0px blue;
	flex-grow: 2;
	display: flex;
	margin: 5px;
}

nav ul{
	list-style: none;
	margin : 10px;
	padding : 0px;
	width : 100%;
	display : flex;
	justify-content : space-around;
	align-items : center;
}

nav ul li{
	border : solid 0px orange;
	width : 20px;
	height : 20px;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Gill Sans", sans-serif;
	font-size: 20px;
	color: rgb(34, 34, 59);
}

.Instagram{
	border: solid 0px blue;
	flex-grow: 0.1;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Instagram img{
	width: 40px;
	height: 40px;
}


#main{
	border: solid 0px purple;
/*	height: 1024px;*/
	width: 100%;
	display : flex;
	display: inline-block;
}

#intro{
	border: solid 0px blueviolet;
	display: flex;
	min-height: 60%;
	margin-bottom: 60px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.introImage{
	border: solid 0px orange;
	min-width: 20%;
	margin-top: 200px;
}

.introImage img{
	width: 260px;
	height: 260px;
}

.introText{
	border: solid 0px orange;
	min-width: 30%;
	margin-top: 200px;
	margin-bottom: 200px;
	margin-left: 100px;
	margin-right:0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Gill Sans", sans-serif;
	font-size: 20px;
	color: rgb(34, 34, 59);
	line-height: 2;
}

#interest{
	display: flex;
	min-height: 30%;
	margin: 20px;
}

.botInterest ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width : 100%;
	display : flex;
	justify-content : space-around;
	align-items : center;
}

.botInterest ul li{
	border : solid 0px orange;
	width : 200px;
	height : 200px;
	background: rgba(255, 255, 255,0.5);
	font-family: "Gill Sans", sans-serif;
	font-size: 25px;
	color: rgb(34, 34, 59);
	border-radius: 50%;
}

.botInterest ul li a{
	text-decoration: none;
	color: rgb(34, 34, 59);
}

.botInterest ul li a:hover{
	color: rgb(150, 136, 147);
}

.botInterest h2{
	font-family: "Gill Sans", sans-serif;
	font-size: 30px;
	color: rgb(114, 78, 70);
}


/* media html*/
.mediaText{
	font-family: "Gill Sans", sans-serif;
	font-size: 20px;
	color: rgb(34, 34, 59);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 20px;
	padding: 10px;
}

.mediaPhoto img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

/* game html*/
.mediaText a{
	text-decoration: none;
	color: rgb(69, 123, 157);
}

/* music html*/
.row {
  display: flex;
}

.column {
  flex: 100%;
  margin-left: 50px;
  padding: 20px;
}

.column img{
	width: 180px;
	height: 220px;
}

.musicText{
	font-family: "Gill Sans", sans-serif;
	font-size: 20px;
	color: rgb(34, 34, 59);
}
